{% extends 'taller/base.html' %}
{% block title %}Dashboard - Taller{% endblock %}
{% block content %}
<h2>Resumen de datos</h2>
<div class="row">
  <div class="col-md-2"><div class="card p-3">Clientes: {{ resumen.clientes }}</div></div>
  <div class="col-md-2"><div class="card p-3">Proveedores: {{ resumen.proveedores }}</div></div>
  <div class="col-md-2"><div class="card p-3">Productos: {{ resumen.productos }}</div></div>
  <div class="col-md-2"><div class="card p-3">Empleados: {{ resumen.empleados }}</div></div>
  <div class="col-md-2"><div class="card p-3">Usuarios: {{ resumen.usuarios }}</div></div>
</div>
{% endblock %}
